<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse01.ds"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cse01.ds.StartingPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.Introduction"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INTRODUCTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    
        <activity
            android:name="com.cse01.ds.TargetAudience"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.TARGETAUDIENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.CoursesAligned"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.COURSESALIGNED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.Prerequisite"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PREREQUISITE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.ExperimentsList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EXPERIMENTSLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.Experiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.IntroductionExperiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.INTRODUCTIONEXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.TheoryExperiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.THEORYEXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.ObjectiveExperiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.OBJECTIVEEXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.QuizzesExperiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.QUIZZESEXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.cse01.ds.SimulationExperiment2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SIMULATIONEXPERIMENT2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
